<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'rfi/style.css' %}">

<html>
  <head>
    <meta charset="utf-8">
    <title>RFI Query</title>
    <img src="../../static/rfi/images/banner.png" style="width:100%">
    <h1 style="color:#211D1E"> --- </h1>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body style="background-color: #211D1E;">
    <div class="container" style="background-color:#211D1E;color:white";>
    <form action="/graph/" method="get">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="receivers" class="form-label">Receivers</label>
            <select name="receivers" id="receivers" class="form-select" multiple aria-label="multiple select example" style="height: 275px;width:200px">
              {% for name, value in form.fields.receivers.choices %}
                <option value="{{value}}">{{value}}</option>
              {% endfor %}
            </select>
            <div id="receiversHelp" class="form-text">Receivers</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input name="date" id="date" type="text" class="form-control" placeholder="YYYY/MM/DD" id="date" aria-describedby="dateHelp">
            <div id="dateHelp" class="form-text">Date (get nearest)</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="start" class="form-label">Start</label>
            <input name="start" id="start" type="text" class="form-control" placeholder="YYYY/MM/DD" id="start" aria-describedby="startHelp">
            <div id="startHelp" class="form-text">Start date</div>
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">End</label>
            <input name="end" id="end" type="text" class="form-control" placeholder="YYYY/MM/DD" id="end" aria-describedby="endHelp">
            <div id="endHelp" class="form-text">End date</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="freq_low" class="form-label">Frequency Low</label>

            <!div class="slidecontainer">
              <!input type="range" id="freqLowSlider" value="26" min="1" max="100" oninput="freq_low.value = freqLowSlider.value; freqHighSlider.min = freqLowSlider.value">
            <!/div>
            <input name="freq_low" id="freq_low" type="text" class="form-control" placeholder="#### MHz" id="freq_low" aria-describedby="freq_low_help"> <!oninput="freqLowSlider.value = freq_low.value">
            <div id="freq_low_help" class="form-text">Bottom of frequency range</div>
          </div>
          <div class="mb-3">
            <label for="freq_high" class="form-label">Frequency High</label>
            <!div class="slidecontainer">
              <!input type="range" value="78" min="1" max="100" id="freqHighSlider" oninput="freq_high.value = freqHighSlider.value; freqLowSlider.max = freqHighSlider.value">
            <input name="freq_high" id="freq_high" type="text" class="form-control" placeholder="#### MHz" id="freq_high" aria-describedby="freq_high_help"> <!oninput="freqHighSlider.value = freq_high.value">
            <div id="freq_high_help" class="form-text">Top of frequency range</div>
          </div>
        </div>

      </div>

      <input type="submit" class="btn btn-primary" style="background-color:#3EC872;border-color:white;"></input>
    </form>

  </body>
</html>
